

body {
	max-width: 1100px;
	margin: 0 auto;
}
nav ul li
{	
	padding: 1em;	
	margin: 5px 15px 5px;
	display: inline-block;
	font-weight: bold;
	background: -moz-linear-gradient(top,  rgba(206,206,206,1) 0%, rgba(252,252,252,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,206,206,1)), color-stop(100%,rgba(252,252,252,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(206,206,206,1) 0%,rgba(252,252,252,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(206,206,206,1) 0%,rgba(252,252,252,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(206,206,206,1) 0%,rgba(252,252,252,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(206,206,206,1) 0%,rgba(252,252,252,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#fcfcfc',GradientType=0 ); /* IE6-9 */
	
}
nav ul{

	text-align: center;
	color: white;
}

nav ul li a{
	color: #000;
	text-decoration: none;
	
}

nav li a:hover
{
color: white;
}
nav ul li:hover
{

background: -moz-linear-gradient(top,  rgba(101,170,80,1) 0%, rgba(252,252,252,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(101,170,80,1)), color-stop(100%,rgba(252,252,252,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(101,170,80,1) 0%,rgba(252,252,252,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(101,170,80,1) 0%,rgba(252,252,252,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(101,170,80,1) 0%,rgba(252,252,252,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(101,170,80,1) 0%,rgba(252,252,252,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#65aa50', endColorstr='#fcfcfc',GradientType=0 ); /* IE6-9 */

}


article {
	margin: 20px 0;
	overflow: hidden;
}
.titulo-noticias {
	font-size: 16px;
	color: #699a3b;
}
h3.titulo-articulo {
	font-size: 14px;
	margin: 0;
	background: url(img/bullet.gif) no-repeat 0px 3px;
	padding: 0 0 0 15px;
}
.titulo-articulo a {
	text-decoration: none;
	color: #4e4e4e;
}
.contenido-articulo p{
	color: #c6c6c6;
	margin: 0;
	padding: 0 0 0 15px;
}
.noticias, .sidebar, .bienvenida {
	display: inline-block;
	vertical-align: top;
}
.noticias {
	max-width: 311px;
}
.sidebar {
	max-width: 300px;
}
