

body {
	max-width: 1100px;
	margin: 0 auto;
}
nav  {
	
	display: block;
	width: 100%;

}

nav ul {
	text-align: center;
	color: white;
}

nav li {
	padding: 1em;	
	margin: 5px 15px 5px;
	display: inline-block;
	font-weight: bold;
	background: -moz-linear-gradient(top,  rgba(206,206,206,1) 0%, rgba(252,252,252,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,206,206,1)), color-stop(100%,rgba(252,252,252,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(206,206,206,1) 0%,rgba(252,252,252,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(206,206,206,1) 0%,rgba(252,252,252,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(206,206,206,1) 0%,rgba(252,252,252,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(206,206,206,1) 0%,rgba(252,252,252,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#fcfcfc',GradientType=0 ); /* IE6-9 */
	width: 140px;
	height: 40px;
}

nav a {
	color: #699a3b;
	text-decoration: none;       
 }
 

nav ul li:hover a
{
color: #000;
}
nav ul li:active a
{
color: #100;
}
nav ul li:hover
{

background: -moz-linear-gradient(top,  #699a3b 0%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#699a3b), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #699a3b 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #699a3b 0%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #699a3b 0%,#ffffff 100%); /* IE10+ */
background: linear-gradient(to bottom,  #699a3b 0%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#699a3b', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}

article {
	margin: 20px 0;
	overflow: hidden;
}
.titulo-noticias {
	font-size: 16px;
	color: #699a3b;
}
h3.titulo-articulo {
	font-size: 14px;
	margin: 0;
	background: url(img/bullet.gif) no-repeat 0px 3px;
	padding: 0 0 0 15px;
}
.titulo-articulo a {
	text-decoration: none;
	color: #4e4e4e;
}
.contenido-articulo p{
	color: #c6c6c6;
	margin: 0;
	padding: 0 0 0 15px;
}
.noticias, .sidebar, .bienvenida {
	display: inline-block;
	vertical-align: top;
}
.noticias {
	max-width: 311px;
}
.sidebar {
	max-width: 300px;
}
